@charset "UTF-8";

#caixa {
    border: 4px solid black;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
}

.curso{
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.curso:hover{
    border-color: red;
}
.c1{
    background-color: #ccc;
    color: #444;
}
.c2{
    background-color: #444;
    color: #ccc;
}

.destaque {
    background-image: linear-gradient(to right, #084887, #F58A07, #F9AB55) !important;
    color: #ccc !important;
    border-color: #f00 !important;
}