* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, rgba(211, 211, 211, 0.735), rgba(211, 211, 211, 0.633));
    height: 100vh;
    font-family: Arial, sans-serif;
    padding: 20px;
}

table.dgv {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Cabeçalho */
.dgvTitulo {
    background-color: #038;
    color: #fff;
    text-align: left;
}

/* Cabeçalho células */
.dgvTitulo th {
    padding: 12px;
    font-weight: bold;
}

/* Dados */
.dgvLinha td {
    padding: 10px;
    text-align: left;
}

/* Linhas alternadas */
.dgvLinha:nth-child(even) {
    background-color: #f9f9f9;
}
.dgvLinha:nth-child(odd) {
    background-color: #e6e6e6;
}
.dgvLinha:hover{
    background-color: rgba(0, 50, 136, 0.411) !important;
    color: white !important;
}

.c1{width: 50px;}
.c2{width: 50px;}
.c3{width: 50px;}
.c4{width: 50px;}
.c5{width: 50px;}