#body_pesquisar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0077b6, #00b4d8);
    overflow: hidden;
}
#pesquisa{
    width: 90%;
}
#pesquisa form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 5px;  
}
.campoPesq{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: 10px;
}

label{
    margin-right: 5px;
}

.input_pesq{
    border: 1px solid #f00;
    padding: 5px;
    border-radius: 5px;
}